.BoardWrapper {
  margin: 4rem 0;
  padding: 0 2rem 2rem 2rem;
  border-radius: 4rem;
  border: 0px solid rgba(255, 255, 255, 0.686);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.lightBoard {
  color: black;
}
.darkBoard {
  color: white;
  /* background-color: black; */
}
.between {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 3rem 2rem 2rem 2rem;
  padding-top: 5rem;
}
.between img {
  max-width: 75px;
}

.between h1 {
  font-weight: 300;
  font-size: 50px;
  padding: 0 20px;
}

/* CSS FOR {ADD USER NAME} */

.AddUserNameMessage {
  padding: 0rem 0;
  text-align: center;
}
.AddUserNameMessage h1 {
  font-weight: 300;
  max-width: 40ch;
  font-size: 32px;
}
.addUsernameInput::placeholder {
  font-weight: 500;
}
.addUsernameInput:focus {
  font-weight: 400;
}
.AdduserNameButtons,
.addUsernameInput {
  margin: 0 10px 0 10px;
}
.usernameError {
  background-color: rgba(177, 74, 74, 0.648);
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  border-radius: 2rem;
  width: 30%;
}
.tester {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
