* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
html.dark {
  --bg-image: url("/BG-Grid.svg");
  --gradient-bg: rgba(0, 0, 0, 0), rgba(225, 233, 165, 0.196);
}
html.light {
  --bg-image: url("/BG-Grid-Light.svg");
  --gradient-bg: rgba(0, 0, 0, 0), rgba(228, 215, 21, 0.159);
}

body {
  background-image: linear-gradient(var(--gradient-bg)), var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-y: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}

#toastPosition {
  border: 2px solid rgb(255, 255, 255);
}

/*  */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .namePlate {
    text-align: center;
  }
  .signup-form {
    font-size: 30px;
  }
  .between h1 {
    font-size: 30px;
  }
  .between img {
    max-width: 50px;
  }
  .info h3 {
    font-size: 15px;
  }
  .Buttons {
    transform: scale(0.8);
  }
  .addUsernameInput {
    transform: scale(0.8);
  }
  .userData {
    transform: scale(0.8);
  }
  .easy {
    transform: scale(0.9);
  }
  .medium {
    transform: scale(0.9);
  }
  .hard {
    transform: scale(0.9);
  }
  .buttonsDiv {
    margin: 10px 0 0 0;
  }
  .optionsWrapper div button {
    margin: 1rem;
    padding: 0.5rem;
  }
  .AddUserNameMessage h1 {
    font-size: 24px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  /* .signupPage{
    flex-direction: column;
  } */
  .userData {
    transform: scale(0.7);
  }
  .CardWrapper {
    display: flex;
    flex-direction: column;
  }
  .buttonsDiv {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .stats {
    width: 100%;
  }
  .optionsWrapper div h3 {
    font-weight: 300;
    font-size: 20px;
  }
  .optionsWrapper div button {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  #toastPosition {
    position: fixed;
    bottom: 3rem;
  }
  .sidebar--icons {
    padding-top: 3rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .signup-form {
    margin-top: 0.75rem;
  }
  .subtitle {
    max-width: 25ch;
    text-align: center;
    padding: 20px 0;
  }
  .between {
    margin-bottom: 0;
  }
  .BoardWrapper {
    margin-top: 0.75rem;
  }
  .AddUserNameFunction {
    margin: 0;
    padding: 0.5rem;
  }
  .AddUserNameMessage h1 {
    font-size: 20px;
  }
  .usernameError {
    width: 70%;
    font-size: 15px;
    padding: 5px;
  }
  #toastPosition {
    position: fixed;
    bottom: 3rem;
  }
  .sidebar--icons {
    padding-top: 3rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .title h2 {
    font-size: 25px;
    font-weight: 300;
    padding-left: 15px;
  }
  .userData h2 {
    font-size: 12px;
    font-weight: 300;
    padding: 4px;
    margin-right: 0%;
  }
  .userData button {
    border: 2px solid white;
  }
  .Navbar {
    justify-content: space-around;
  }
  .BoardWrapper {
    margin: 0.75rem 0;
  }
  .CardWrapper {
    max-width: 95%;
  }
  .infoInfo h3 {
    font-size: 14px;
  }
  .info {
    padding: 0 0.75rem 0 1rem;
  }
  .buttonsDiv {
    display: flex;
    align-self: center;
    justify-content: center;
    /* width: 30%; */
    max-width: 40%;
    padding: 0;
    margin: 0%;
  }
  .visit,
  .remove {
    transform: scale(0.8);
    margin: 0%;
    margin: 0px 0;
  }
  .progress-bar-container {
    width: 80%;
    height: 20px;
  }

  .stats div span {
    font-size: 15px;
  }
  .optionsWrapper {
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .create button {
    font-size: 14px;
  }
  .moreFeatures button {
    font-size: 14px;
  }
  .AddUserNameFunction input {
    font-size: 16px;
  }
  .AddUserNameFunction {
    flex-direction: column;
    justify-content: center;
  }
  .AddUserNameFunction input::placeholder {
    font-size: 14px;
  }
  .AdduserNameButtons,
  .addUsernameInput {
    font-size: 16px;
    margin-left: 0;
  }
  .title {
    font-size: 45px;
    text-align: center;
  }

  .login-form {
    max-width: 300px;
    font-size: 40px;
  }
  .login-form h2 {
    font-weight: 400;
  }

  .footer {
    text-align: center;
  }
  .footer p {
    font-size: 20px;
  }
  .input-group label,
  input,
  .login-button {
    font-weight: 500;
  }
  .namePlate {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .AddUserNameMessage {
    font-size: 18px;
  }

  .loader {
    transform: scale(0.8);
  }

  .usernameError {
    width: 70%;
    font-size: 14px;
  }
  .subtitle {
    margin: 0%;
    padding: 10px 0;
  }
  .signup-form {
    margin-bottom: 3rem;
  }
  .toggle {
    height: 2.5rem;
    border: 0px;
    width: 80%;
  }
  .toggle--buttons {
    font-size: 14px;
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, 0.171);
  }
  .between {
    /* margin: 3rem 2rem 2rem 2rem; */
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  #feature {
    color: rgba(255, 255, 0, 0.832);
  }
  #feature:hover {
    color: black;
  }
  .snapPage--info div p {
    font-size: 18px;
    text-align: center;
  }
  .snapPageInput {
    font-size: 14px;
    padding: 4px;
  }
  .snapPageInput::placeholder {
    font-size: 14px;
  }
  .inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputBox input {
    margin: 0;
    margin-bottom: 1rem;
  }
  #toastPosition {
    position: fixed;
    bottom: 3rem;
    width: 70%;
    left: 17%;
  }
  .sidebar--icons {
    padding-top: 3rem;
  }
  #visit,
  #remove {
    transform: scale(0.7);
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 54 100% 96%;
    --sidebar-foreground: 54 70% 30%;
    --sidebar-primary: 54 100% 20%;
    --sidebar-primary-foreground: 54 100% 90%;
    --sidebar-accent: 54 90% 88%;
    --sidebar-accent-foreground: 54 100% 20%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 180 2% 9.6%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 180 2% 9.6%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 30%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: hsl(206 100% 16%);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
