.vjti--wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 2.5rem 0.5rem .0rem; */
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(8px); 
    z-index: 1000; 
    border: 1px solid red;
}
.sidebar--div{
    position: fixed;
    top: 3.5rem;
    z-index: 99;
  }
  .vjti-content{
width: 100%;
z-index: 99;
  }
  .card-last{
    display: flex;
    align-items: center;
  }
  .Rating-div{
    font-weight: 500;
    color: chartreuse;
    padding-right: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(35, 72, 72);
  }