.optionsWrapper {
  background-color: rgb(25, 25,25);
  margin: 4rem 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4rem;
  border: 2px solid rgba(255, 255, 255, 0.686);


}
.moreFeatures {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.create {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.optionsWrapper div button{
margin: 1rem;
padding: 0.75rem;

}
.optionsWrapper div h3{
    font-weight: 300;
    font-size: 25px;
}