.signupPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.signup-form{
height: 450px;
}
.namePlate{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form button{
    padding :0.25rem;
}
.redirect{
    font-size: 17px;
    padding: 10px 15px 10px 0;
    color: aliceblue;
    font-weight: 300;
    text-align: center;
}
.redirect a{
    color:rgb(117, 166, 246);
    text-decoration: none;
    font-weight: 500;
}

.redirect a:hover{
text-decoration: underline;
color:rgb(5, 8, 14);
}
.error-message{
    font-weight: 200;
    color: red;
    max-width: 20ch;
    background-color: rgb(66, 47, 47);
    border-radius: 20px;
    max-width: 200px;
    padding: 10px;
}
.success-message{
    font-weight: 400;
    color: rgb(9, 43, 9);
    max-width: 20ch;
    background-color: rgb(115, 130, 96);
    border-radius: 20px;
    max-width: 200px;
    padding: 10px;

}
.popup {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    z-index: 1000;
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }