.snapPage--main--div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  
}
.snapPage--info{
    margin-top: 12rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.snapPage--info div p{
   padding: 2rem 0 1rem 0;
   font-weight: 400;
   font-size: 1.5rem;
   text-align: center;
   max-width: 50ch;
}
.snapPage--info div h1{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    max-width: 500px;
 }
 .snapPage--info div h1 span{
    font-weight: 500;
 }
#snapPageInput{
font-weight: 400;
text-align: center;
font-family: poppins;
font-size: 1rem;
width: 300px;
margin-right: 1rem;
border-width: 2px;
}
.snapPageInput::placeholder{
    color:white; 
    font-size: 18px; 
    font-family: 'poppins', sans-serif; 
    font-weight: 200;
    padding-left: 10px;
}
.generatedDiv{
    display: flex;
    align-items: center;justify-content: space-evenly;
    padding: 4rem;
}
.downloadButton button{
    color: rgb(0, 0, 0);
    background-color: rgba(128, 255, 0, 0.7);
}
.downloadButton button:hover{
    background-color: chartreuse;
    color: black;
}
.utilityInput{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  
}
.hidden {
    display: none;
}
.modifiedLoader{
  align-items: center;
}
.snap-page-container-dark {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.732)), var(--bg-image); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  