.snapPage--main--div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.snapPage--info{
    margin-top: 3.5rem;
    padding-top: 2rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.snapPage--info div p{
   padding: 1rem 0 1rem 0;
   font-weight: 200;
   font-size: 2rem;
   color: rgba(240, 248, 255, 0.77);
   text-align: center;
   max-width: 50ch;
}
.snapPageInput{
border-radius: 2rem;
padding:  0.25rem;
color: white;
font-weight: 400;
text-align: center;
background-color: #282727;
border: 1px solid white;
font-family: poppins;
font-size: 20px;
width: 300px;
margin-right: 1rem;
}
.snapPageInput::placeholder{
    color:white; 
    font-size: 18px; 
    font-family: 'poppins', sans-serif; 
    font-weight: 200;
    padding-left: 10px;
}
.generatedDiv{
    display: flex;
    align-items: center;justify-content: space-evenly;
    padding: 4rem;
}
.downloadButton button{
    color: chartreuse;
}
.downloadButton button:hover{
    background-color: chartreuse;
    color: black;
}
.utilityInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  
}
.hidden {
    display: none;
}
.modifiedLoader{
  align-items: center;
}